<form [formGroup]="formGroup" novalidate>
  <p-panel>
    <p-header>
      <span>Control Errors</span>
    </p-header>

    <div>
      <div class="flex gap-6 mb-8">
        <div class="flex flex-col w-[30rem]">
          <h3 class="text-md font-bold mb-2">Exemplo 1</h3>
          <label for="atributoInteger" class="required">Nome</label>
          <input
            type="text"
            id="nome"
            name="nome"
            pInputText
            formControlName="nome"
            autocomplete="off"
          />
          <g-control-errors
            [control]="formGroup.controls['nome']"
            [errorMessages]="{
              required:
                'Toda pessoa precisa de um nome. Caso contrário, o que seria escrito no copo do Starbucks?',
              minlength: 'Não aceitamos nomes tão pequenos'
            }"
          >
          </g-control-errors>
        </div>
        <div>
          <h4 class="font-bold mt-6">
            Nesse campo você pode testar as seguintes validações:
          </h4>
          <ul>
            <li>Obrigatoriedade</li>
            <li>Tamanho mínimo (3)</li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="flex gap-6 mb-8">
        <div class="flex flex-col w-[30rem]">
          <h3 class="text-md font-bold mb-2 mt-4">Exemplo 2</h3>
          <label for="idade" class="required">Idade</label>
          <input
            type="number"
            id="idade"
            name="idade"
            pInputText
            formControlName="idade"
            autocomplete="off"
          />
          <g-control-errors
            [control]="formGroup.controls['idade']"
            [errorMessages]="{
              required: 'Por favor, sua idade é muito importante para nós',
              min: 'Esse cadastro é apenas para maiores de idade',
              max: 'A medicina ainda não nos permite viver tanto!'
            }"
          >
          </g-control-errors>
        </div>
        <div>
          <h4 class="font-bold mt-6">
            Nesse campo você pode testar as seguintes validações:
          </h4>
          <ul>
            <li>Obrigatoriedade</li>
            <li>Valor mínimo (18)</li>
            <li>Valor máximo (120)</li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="flex gap-6 mb-8">
        <div class="flex flex-col w-[30rem]">
          <h3 class="text-md font-bold mb-2 mt-4">Exemplo 3</h3>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            pInputText
            formControlName="email"
            autocomplete="off"
          />
          <g-control-errors
            [control]="formGroup.controls['email']"
            [errorMessages]="{
              email: 'Email inválido',
              pattern:
                'Infelizmente só aceitamos emails que contenham o dominio GawTech'
            }"
          >
          </g-control-errors>
        </div>
        <div>
          <h4 class="font-bold mt-10">
            Nesse campo você pode testar as seguintes validações:
          </h4>
          <ul>
            <li>Email</li>
            <li>Dominio GawTech obrigatorio</li>
          </ul>
        </div>
      </div>
    </div>
  </p-panel>
</form>
