<div class="flex items-center justify-between border-b-2 border-stone-200 mb-4">
  <h1 class="mx-6 text-xl font-bold text-zinc-400">Angular Components</h1>
  <p-button
    label="Components"
    (click)="openDrawer()"
    variant="outlined"
    severity="contrast"
    rounded="true"
    class="mx-6 my-4"
  ></p-button>
</div>

<p-drawer
  styleClass="!w-[30rem]"
  header="Componentes"
  [(visible)]="drawerVisible"
  position="right"
>
  <div class="ui-g">
    <input
      pInputText
      type="text"
      placeholder="Search..."
      class="w-full mb-4 p-inputtext"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filter(searchTerm)"
    />
  </div>

  <div *ngFor="let section of filteredSections" class="section mb-4">
    <div class="ui-g">
      <div class="text-[12px] uppercase font-bold">
        {{ section.label }}
      </div>
      <div
        *ngFor="let item of section.items"
        class="text-md cursor-pointer hover:text-blue-600"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        (click)="drawerVisible = false"
      >
        {{ item.label }}
      </div>
    </div>
  </div>
</p-drawer>

<div class="flex flex-col gap-2 mx-6">
  <g-breadcrumb></g-breadcrumb>
  <router-outlet></router-outlet>
</div>
